## R files ##
.Rhistory
.Rapp.history
.RData
.Rproj.user

## git files
.git
.gitignore

## readme and text files just there for help
README.md
LICENSE.txt

## The data file since it's only used for training
seattle_pet_licenses.csv